* {
            font-family: 'Jomhuria', cursive;
        }

        .mytitle {
            background-color: greenyellow;

            width: 300px;
            height: 200px;

            color: white;
            text-align: center;

            background-image: url("https://www.ancient-origins.net/sites/default/files/field/image/Agesilaus-II-cover.jpg");
            background-size: cover;
            background-position: center;

            border-radius: 10px;

            padding-top: 20px;
        }

        .mybtn {
            width: 100px;
            margin: auto;
            display: block;
        }

        .fulldiv {
            width: 300px;
            margin: auto;
        }

        .red_font {
            color: red;
        }